In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
data=pd.read_csv("Singapore demographic.csv")

In [5]:
data

       year                        level_1          level_2   value
0      1957                Total Residents    0  -  4 Years  264727
1      1957                Total Residents    5  -  9 Years  218097
2      1957                Total Residents    10 - 14 Years  136280
3      1957                Total Residents    15 - 19 Years  135679
4      1957                Total Residents    20 - 24 Years  119266
...     ...                            ...              ...     ...
20455  2018  Other Ethnic Groups (Females)  65 Years & Over    3386
20456  2018  Other Ethnic Groups (Females)  70 Years & Over    2087
20457  2018  Other Ethnic Groups (Females)  75 Years & Over    1362
20458  2018  Other Ethnic Groups (Females)  80 Years & Over     842
20459  2018  Other Ethnic Groups (Females)  85 Years & Over     437

[20460 rows x 4 columns]

In [6]:
(10+2)*(23+3)

312

In [15]:
a=8

In [16]:
a

8

In [17]:
a+a

16

In [18]:
my_income=100

In [19]:
tax_rate=0.1

In [20]:
my_tax=my_income*tax_rate

In [21]:
my_tax

10.0

In [22]:
"this is also string"

'this is also string'

In [24]:
'hello world 1'
'hello world 2'

'hello world 2'

In [25]:
print('hello world 1')
print('hello world 2')

hello world 1
hello world 2

In [28]:
print('use \n to print new line')

use
 to print new line

In [33]:
print('\n')
print('this is great sentenct')

this is great sentenct

In [34]:
len('hello world')

11

In [35]:
len('1 2 3 2 5 4 6')

13

In [36]:
s='hello world'

In [37]:
print(s)

hello world

In [38]:
s[0]

'h'

In [39]:
s[10]

'd'

In [40]:
s[1:]

'ello world'